/* Cascading Style Sheet for Euphoria Documentation */

body             {/*background-color: #FFFFF5;*/}
a                {color: #0000ff;}
a:visited        {color: #0000ff; }
a:active         {color: red; }
a:hover          {color: red; }

a.blue           {text-decoration: none;}
a.blue:link      {color: "#5500FF"; text-decoration: underline;}
a.blue:visited   {color: "#5500FF"; text-decoration: underline;}
a.blue:active    {color: red; text-decoration: underline;}
a.blue:hover     {color: red; text-decoration: underline;}
a.brown          {text-decoration: none;}
a.brown:link     {color: "#993333"; text-decoration: underline;}
a.brown:visited  {color: "#993333"; text-decoration: underline;}
a.brown:active   {color: red; text-decoration: underline;}
a.brown:hover    {color: red; text-decoration: underline;}

.tag_continue{
	text-align:center;
	font-family:sans-serif;
	color:#FF0099;
	font-size:1.2em;
}

.path{
	color:#5500FF;
	font-family:sans-serif;
}

h1, h2, h3{
	font-family:sans-serif;
}

h1{
    text-align:center;
}

.platform{
	font-weight:bold;
	color:#CC3366;
}

.command{
	font-family:monospace;
	font-weight:bold;
	margin-left:20px;
}

.scommand{
	font-family:monospace;
	font-weight:bold;
}

.libfunc{
	color:#006699;
}

table.func th { padding-bottom: 5px; text-align: right; vertical-align: top; }
table.func td { padding-bottom: 5px; vertical-align: bottom;}
h3.funcref {
	background: #f5f5f5;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	padding: 3px;
}

