body             {background-color: #FFFFF5;}
a                {color: #0000ff;}
a:visited        {color: #0000ff; }
a:active         {color: red; }
a:hover          {color: red; }

a.blue           {text-decoration: none;}
a.blue:link      {color: "#5500FF"; text-decoration: underline;}
a.blue:visited   {color: "#5500FF"; text-decoration: underline;}
a.blue:active    {color: red; text-decoration: underline;}
a.blue:hover     {color: red; text-decoration: underline;}
a.brown          {text-decoration: none;}
a.brown:link     {color: "#993333"; text-decoration: underline;}
a.brown:visited  {color: "#993333"; text-decoration: underline;}
a.brown:active   {color: red; text-decoration: underline;}
a.brown:hover    {color: red; text-decoration: underline;}
