/*

	Nonzero1.0 by nodethirtythree design
	http://www.nodethirtythree.com
	missing in a maze

*/

/* This controls the width of the fluid width layouts */

div.fluid
{
  width: 90% !important;
}

/* This controls the width of the fixed width layouts */

div.fixed
{
  width: 950px !important;
}

/* Basic Stuff */

*
{
  margin: 0em;
  padding: 0em;
}

body
{
  background-color: #fff;
  color: #585858;
  font-size: 12pt;
  font-family: serif;
}

hr {
margin-top: 0.5ex;
margin-bottom: 1ex;
}

h1,h2,h3,h4,h5,h6
{
  font-weight: normal;
  font-family: sans-serif;
}

h3,h4,h5,h6,th
{
  color: #184366;
}

h1 span
{
  font-weight: bold;
}

h3 span
{
  font-weight: bold;
}

h4 span, th span
{
  font-weight: bold;
}

h3 span.small
{
  font-size: 35%;
}

h4 span.small
{
  font-size: 70%;
}

br.clear
{
  clear: both;
}

img
{
  padding: 3px;
  border: solid 1px #e1e1e1;
}

img.floatTL
{
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  margin-top: 0.5em;
}

a
{
  text-decoration: underline;
  color: #2f8e65; /* #F16C00; */
}

a:hover
{
  text-decoration: none;
}

ul.links
{
  list-style: square;
  margin-left: 0px;
  padding-left: 0px;
}

ul.links li
{
  margin-left: 0px;
  padding-left: 0px;
  padding-bottom: 0.5em;
}

p
{
  line-height: 1.2em;
}

#docs tt {
    font-family: monospace;
    color: #DB7623;
}

#docs ul {
    padding-bottom: 1em;
}

#docs dt
{
  color: black;
  font-size: 1.25em;
  margin-left: 0.5em;
  padding-bottom: 0.5em;
}

#docs dd
{
    font-family: serif;
  margin-bottom: 0.75em;
  margin-left: 1.5em;
  padding: 0.5em 0.5em;
  background: #ddeedd;
  color: #111100;
}

#docs td
{
  border: 1px solid;
  padding-left: 0.25em;
  padding-right: 0.25em;
  background: #ffffd5;
}

/* Header */

#header
{
  width:100%;
  height:64px;
  background-color: #440000;
  background-image: url('images/n1.gif');
  background-repeat: repeat-x;
}

#header_inner
{
  width: 950px;
  height:64px;
  margin: 0 auto;
}

/* Logo */

#logo
{
margin-left: 40px
}

#logo h1
{
  display: inline;
  color: #fff;
  font-size: 2.5em;
  font-family: sans-serif;
}

#logo span
{
  display: inline;
  color: #ffffd5;
}

#logo h2
{
  display: inline;
  padding-left: 0.5em;
  color: #D2DCE5;
  font-size: 1.0em;
}

#right-logo
{
float:left;
border: none;
position: absolute;
left: 0px;
padding-left: 1%;
padding-top: 5px;
}

/* Menu */

#menu
{
margin-left: 40px;
}

#menu ul
{
  list-style: none;
}

#menu li
{
  float: left;
}

#menu li a
{
  margin-left: 0.5em;
  display: block;
  padding: 0.25em 1.4em;
  background-color: #fff;
  background-image: url('images/n4.gif');
  background-repeat: repeat-x;
  border: solid 1px #fff;
  color: #616161;
  font-weight: bold;
  font-size: 1.0em;
  text-transform: lowercase;
  text-decoration: none;
}

#menu li a.active
{
  background-color: #FF790B;
  background-image: url('images/n3.gif');
  background-repeat: repeat-x;
  color: #fff;
  border: solid 1px #DB7623;
}

/* Main */

#main
{
  background: white url('images/n2.gif') repeat-x 0px 1px;
}

#main_inner p
{
  margin-bottom: 1.0em;
}

#main_inner
{
  width: 950px;
  margin: 0 auto;
  padding-top: 1.5em;
}

#main_inner h3,h4
{
  border-top: dotted 1px #E1E1E1;
}

#main_inner h3
{
  font-size: 1.8em;
  margin-top: 0.5em;
}

#main_inner h4
{
  font-size: 1.2em;
  padding-bottom: 0.175em;
  margin-bottom: 0.2em;
  margin-top: 0.95em;
}

#main_inner .post
{
}

#main_inner .post h3
{
  font-size: 1.7em;
  padding: 3px 5px 3px 5px;
}

#main_inner .post ul
{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 2em;
  margin-left: 3em;
}

div.creole {
  padding-top: 8px;
}

#main_inner ul.post_info
{
  list-style: none;
  font-size: 0.8em;
  border-bottom: 1px dotted #E1E1E1;
  margin-top: 1em;
  padding-bottom: 1em;
}

.interwiki_error {
  background-color: #ffdddd;
  color: #ff0000;
}

#main_inner .wiki ul
{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 2em;
  /*margin-left: 3em;*/
}

#main_inner .wiki ul.wiki_info
{
  list-style: none;
  font-size: 0.8em;
  border-top: 1px dotted #E1E1E1;
  margin-top: 1em;
  padding-bottom: 1em;
}

#main_inner ul.post_info li, #main_inner ul.wiki_info li
{
  background-position: 0em 0.2em;
  background-repeat: no-repeat;
  display: inline;
  padding-left: 18px;
}

#main_inner ul.post_info li.date, #main_inner ul.wiki_info li.created
{
  background-image: url('images/n5.gif');
}

#main_inner ul.post_info li.comments
{
  background-image: url('images/n6.gif');
  margin-left: 1.1em;
}

#main_inner ul.post_info li.edited, #main_inner ul.wiki_info li.modified
{
  background-image: url('images/post_new_message.png');
  margin-left: 1.1em;
  font-weight: bold;
}

#main_inner .post_tools, #main_inner .wiki_tools
{
  border-top: dotted 1px #E1E1E1;
  padding: 5px 20px 5px 20px;
  font-size: 0.8em;
}

#main_inner .post_tools_bottom
{
  border-top: dotted 1px #E1E1E1;
  padding: 5px 20px 5px 20px;
  font-size: 0.8em;
}

#main_inner .post_tools_top, #main_inner .wiki_tools_top
{
  border-bottom: dotted 1px #E1E1E1;
  padding: 5px 20px 5px 20px;
  font-size: 0.8em;
}

#main_inner .wiki_body {
  margin: 0px 0px 0px 10px;
}

/* Footer */

#footer
{
  width: 950px;
  margin: 0 auto;
  text-align: center;
  clear: both;
  border-top: dotted 1px #E1E1E1;
  margin-top: 1.0em;
  margin-bottom: 1.0em;
  padding-top: 1.0em;
  text-transform: lowercase;
}

/* Search */

input.button
{
  background: #FF790B url('images/n3.gif') repeat-x;
  color: #fff;
  border: solid 1px #DB7623;
  font-weight: bold;
  text-transform: lowercase;
  font-size: 0.8em;
  height: 2.0em;
  padding: 0 5px 5px 5px;
}

input.text
{
  border: solid 1px #F1F1F1;
  font-size: 1.0em;
  padding: 0.25em 0.25em 0.25em 0.25em;
}

#search
{
  position: relative;
  width: 100%;
  margin-bottom: 2.0em;
}

#search input[type=text]
{
  width: 17ex;
}

#search input.button
{
  min-width: 3.0ex;
  max-width: 4.5ex;
}

/* LAYOUT - 3 COLUMNS */

/* Primary content */

#primaryContent_3columns
{
	position: relative;
	margin-right: 34em;
}

#columnA_3columns
{
	position: relative;
	float: left;
	width: 100%;
	margin-right: -34em;
	padding-right: 2em;
}

/* Secondary Content */

#secondaryContent_3columns
{
	float: right;
}

#columnB_3columns
{
	width: 13.0em;
	float: left;
	padding: 0em 2em 0.5em 2em;
	border-left: dotted 1px #E1E1E1;
}

#columnC_3columns
{
	width: 13.0em;
	float: left;
	padding: 0em 0em 0.5em 2em;
	border-left: dotted 1px #E1E1E1;
}

/* LAYOUT - 2 COLUMNS */

/* Primary content */

#primaryContent_2columns
{
	position: relative;
	margin-right: 22ex;
}

#columnA_2columns
{
	position: relative;
	float: left;
	width: 99%;
	margin-right: -22ex;
}

/* Secondary Content */

#secondaryContent_2columns
{
	float: right;
	width: 22ex;
}

#columnC_2columns
{
	width: 22ex;
	float: left;
	padding: 0em 0em 0.5em 2em;
	border-left: dotted 1px #E1E1E1;
}

#columnC_2columns h4 {
  margin-bottom: 0px;
}

/* LAYOUT - COLUMNLESS */

/* Primary content */

#primaryContent_columnless
{
	position: relative;
}

#columnA_columnless
{
	position: relative;
	width: 100%;
}

table.form th {
	text-align: right;
	padding: 3px 0px 3px 0px;
}

div.error_box {
	background-color: #ffdddd;
	border: 1px solid #ff5555;
	padding-top: 15px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

div.msg_box {
  background-color: #ddffdd;
  border: 1px solid #55ff55;
  padding: 15px 5px 10px 5px;
  margin-bottom: 10px;
}

#main_inner ul li, #main_inner ol li {
	margin-left: 30px;
}

#main_inner table.list img {
	border: 0;
}

#main_inner table.list {
  border: 1px solid #a1a1a1;
	border-collapse: collapse;
}

#main_inner table.list th {
	border-bottom: solid 1px #a1a1a1;
  border-left: solid 1px #a1a1a1;
  border-right: solid 1px #a1a1a1;
	background-color: #E1E1E1;
  padding: 2px 5px 2px 5px;
  font-weight: bold;
}

#main_inner table.list td {
	border-bottom: dotted 1px #C1C1C1;
  border-left: dotted 1px #C1C1C1;
  border-right: dotted 1px #C1C1C1;
}

#main_inner table.list tr.stipple {
	background-color: #F1F1F1;
}

#main_inner table.list td {
	padding: 2px 5px 2px 5px;
}

#main_inner table.list div.additional {
  margin: 2px 0px 0px 10px;
  font-size: 0.8em;
  font-style: italic;
}

#main_inner .current_page {
	font-weight: bold;
	font-size: 1.2em;
}

#main_inner .other_page {
  padding: 0px 3px 0px 3px;
}

.centered {
	text-align: center;
}

#main_inner img {
	border: 0;
	vertical-align: text-bottom;
}

#main_inner .quote {
  margin: 1em;
  border: 1px solid gray;
  border-left: 3px solid #336633;
  background-color: #f8f8f8;
}

#main_inner .quote .attribution {
  border-bottom: 1px dotted black;
  padding: 2px 2px 2px 8px;
  margin-bottom: 1ex;
  background-color: #eeffee;
  color: #336633;
}

#main_inner .quote .attribution .name {
  font-weight: bold;
}

#main_inner .quote .quote {
  background-color: #f0f0f0;
}

#main_inner .quote .quote .quote {
  background-color: #e8e8e8;
}

#main_inner .quote .quote .quote .quote {
  background-color: #e0e0e0;
}

#main_inner .forum {
  border: dotted 1px #C1C1C1;
  overflow: auto;
}

#main_inner .forum p {
	padding: 0 10px 0 10px;
}

#main_inner div.stipple {
	background-color: #fcfcfc;
}

#main_inner table.data th {
  text-align: right;
}

#docs p {
    font-family: serif;
}

#docs h1 {
	padding-top: 12px;
}

#docs h2 {
	padding: 12px 0 12px 0;
    font-size: 1.5em;
}

#docs h3 {
	padding: 0.5em 0 0.5em 0;
	font-size: 1.25em;
}

#docs h4 {
	padding-top: 12px;
	font-size: 1.1em;
}

#docs h5 {
	padding-top: 12px;
	font-size: 1.0em;
}

#docs h6 {
	padding-top: 12px;
}

#docs .doc-tools {
	padding: 0px 0px 5px 0px;
}

#docs .doc-tools a, #docs .doc-tools a:visited {
	text-decoration: none;
	padding: 5px;
}

div.TOCBody {
  font-size: 0.9em;
}

div.TOC {
  padding: 0 0 1em 0;
}

div.TOC a {
  text-decoration: none;
}

div.TOC div.toc_1 {
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

div.TOC div.toc_2 {
  padding-left: 30px;
}

div.TOC div.toc_3 {
  padding-left: 60px;
  font-style: italic;
}

div.TOC div.toc_4 {
  padding-left: 90px;
}

div.TOC div.toc_5 {
  padding-left: 120px;
}

div.TOC div.toc_6 {
  padding-left: 150px;
}

div.LEVELTOC {
	padding: 5px;
}

div.LEVELTOC a {
	text-decoration: none;
}

div.LEVELTOC div.toc_2 {
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px 0px 0px 10px;
}

div.LEVELTOC div.toc_3 {
  font-weight: bold;
  font-style: italic;
  padding-left: 30px;
}

div.LEVELTOC div.toc_4 {
  padding-left: 60px;
}

a.forum_message {
  padding-right: 20px;
  color: #0f45ae; /* #F16C00; */
  font-weight: bold;
}

a:visited.forum_message {
  padding-right: 0px;
  color: #0fae45; /* #F16C00; */
}

.post table, .wiki table {
  margin-top: 5px;
  margin-bottom: 15px;
  border-collapse: collapse;
  border: 1px solid #336633;
  background-color: #f8f8f8;
}

.post table {
  margin-left: 10px;
}

.wiki th {
  border-bottom: 1px solid #336633;
  text-align: center;
  background-color: #eeffee;
  color: #336633;
}

.post table th, .wiki table th {
  padding: 5px;
  text-align: center;
  background-color: #eeffee;
  color: #336633;
}

.post table tr, .wiki table tr {
  padding: 3px 0px 3px 0px;
}

.post table td, .wiki table td {
  padding: 4px 7px 4px 7px;
  border: 1px dotted black;
}

.wiki div.embedded {
  margin: 4px 4px 4px 4px;
  padding: 4px 4px 4px 4px;
  border-width: 2px 2px 2px 2px;
  border-color: #506070;
  border-style: solid;
}

.wiki div.floatright {
  float: right;
  margin: 4px 4px 4px 12px;
  padding: 4px 4px 4px 4px;
  border-width: 2px 2px 2px 2px;
  border-color: #506070;
  border-style: solid;
}

.wiki div.floatleft {
  float: left;
  margin: 4px 4px 4px 4px;
  padding: 4px 4px 4px 4px;
  border-width: 2px 2px 2px 2px;
  border-color: #506070;
  border-style: solid;
}

.wiki ul.toolbar {
  list-style: none;
  margin: 0px 2px 0px 2px;
  padding: 3px 0px 3px 0px;
  font-family: sans-serif;
  font-weight: bold;
}
.wiki ul.toolbar li {
  display: inline;
  border-style: solid solid solid solid;
  border-width: 1px 1px 1px 1px;
  border-color: #8090a0;
  padding: 1px 3px 1px 3px;
  background-color: #f0f0f0;
}

.wiki ul.navlist {
  list-style: none;
  border-top: 1px dotted black;
  margin-top: 2em;
  padding-top: 9px;
}

.wiki ul.navlist li {
  display: inline;
  background: #FF790B url('images/n3.gif') repeat-x;
  color: #fff;
  border: solid 1px #DB7623;
  font-weight: bold;
  text-transform: lowercase;
  font-size: 0.8em;
  height: 2.0em;
  padding: 0 5px 5px 5px;
}

.wiki ul.navlist li a {
  color: white;
  text-decoration: none;
}

.wiki div.notsaved {
  font-family: sans-serif;
  background-color: red;
}
.wiki a.external {
  background: url(/images/external.png) no-repeat right center;
  padding-right: 12px;
}

.wiki tt {
  font-size: 110%;
}

.wiki ul.toolbar {
  font-size: 80%;
  padding-right: 0px;
  padding-left: 0px;
  font-weight: bold;
  padding-bottom: 3px;
  margin: 0px 2px;
  padding-top: 3px;
  font-family:
  sans-serif;
  list-style-type: none
}

.wiki ul.toolbar li {
  font-size: 80%;
  border-right: #8090a0 1px solid;
  padding-right: 3px;
  border-top: #8090a0 1px solid;
  display: inline;
  padding-left: 3px;
  padding-bottom: 1px;
  border-left: #8090a0 1px solid;
  padding-top: 1px;
  border-bottom: #8090a0 1px solid;
  background-color: #f0f0f0
}

.wiki div.notsaved {
  font-family: sans-serif;
  background-color: red;
}

.wiki .diff {
  font-family: monospace;
}

.wiki ins.diff {
  background-color: rgb(200, 255, 200);
  text-decoration: none;
}

.wiki del.diff {
  background-color: rgb(255, 200, 200);
  text-decoration: none;
}

.post pre, .wiki pre {
  margin-left: 2ex;
  margin-bottom: 12px;
  margin-right: 1em;
  background-color: #f5f5f5;
  border: 1px solid #a0a0a0;
  border-left: 3px solid #336633;
  padding: 1ex 1ex 1ex 2ex;
  overflow: auto;
}

#content_preview pre {
  padding-left: 15px;
  margin-left: 20px;
  border-left: 2px solid #8090a0;
  margin-right: 10px;
  background-color: #d0e0f0;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: auto;
}

option.active_ticket, option.active_user {
  background-color: #ddffdd;
}

option.closed_ticket, option.disabled_user {
  background-color: #ffdddd;
}

option.me {
  background-color: #aaaaff;
}

table.nostyle {
  border: 0px;
}

table.nostyle td {
  background-color: white;
  border: 0px;
}

table.nostyle th {
  background-color: white;
  border: 0px;
}

div.index_title {
  font-size: 1.3em;
  font-weight: bold;
}

ul.page_list {
  list-style: none;
}

table.category {
  border: 1px dotted black;
  margin: 8px 10px 8px 10px;
  padding: 10px;
  background-color: #fafafa;
}

div.category_list {
  margin-bottom: 8px;
}

table.category form {
  font-size: 0.8em;
}

.cloud_tools {
  border-top: dotted 1px #E1E1E1;
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
}

div.right {
  float: right;
}

table.old_news {
  border: 1px dotted black;
  border-collapse: collapse;
  background: #fafafa;
}

table.old_news td {
  padding: 10px;
}

table.old_news td div.news {
  padding: 5px 0px 8px 5px;
}

table.old_news td div.news_title {
  font-weight: bold;
}

table.old_news td div.news_meta {
  padding-left: 30px;
  font-size: 0.8em;
}

.news_example {
  float: right;
  width: 50%;
}

div.donate {
  text-align: center;
}
 
#docs .doc-tools {
	padding: 0px;
	margin: 0px;
}
#docs .doc-tools a, #docs .doc-tools a:visited {
	text-decoration: none;
	padding: 5px;
}

#docs table {
    border: 1px solid;
    background-color: #f8f8f8;
    padding: 0px;
    margin: 0px 0px 10px 0px;
    border-collapse: collapse;
    border: 1px solid #336633;
}

#docs table th {
  padding: 5px;
  text-align: center;
  background-color: #eeffee;
  color: #336633;
}

#docs table tr {
  padding: 3px 0px 3px 0px;
}

#docs table td {
  padding: 4px 7px 4px 7px;
  border: 1px dotted black;
}

#docs .doc-tools table, #docs .doc-tools td, #docs .doc-tools tr
{
border: 1px solid #cccccc;
}


#docs pre
{
margin: 1em 0px 1em 0px;
padding: 0.5em;
background-color: #fafafa;
border: 1px dotted black;
}

#docs .examplecode
{
    font-size: 0.8em;
margin: 1em 0px 1em 0px;
background-color: #fafafa;
border: 1px dotted #008800;
padding: 1ex 1ex 1ex 2ex;
overflow: auto;	
}

ul.links .button a {
  background: #FF790B url('images/n3.gif') repeat-x;
  color: #fff;
  border: solid 1px #DB7623;
  font-weight: bold;
  text-transform: lowercase;
  font-size: 0.8em;
  height: 2.0em;
  padding: 0 5px 5px 5px;
  text-decoration: none;
}
