#define VER_PRODUCT_NAME      "eub console\0"
#define VER_FILE_DESCRIPTION  "Euphoria Backend (Console)\0"
#define VER_ORIGINAL_FILENAME "eub.exe"

#include "version_info.rc"

eui ICON euphoria.ico
1 24 "eu.manifest"
