#define VER_PRODUCT_NAME      "eui translator\0"
#define VER_FILE_DESCRIPTION  "Euphoria Translator\0"
#define VER_ORIGINAL_FILENAME "euc.exe\0"

#include "version_info.rc"

eui ICON euphoria.ico
1 24 "eu.manifest"
