#define VER_PRODUCT_NAME      "euiw windowed\0"
#define VER_FILE_DESCRIPTION  "Euphoria Interpreter (Windowed)\0"
#define VER_ORIGINAL_FILENAME "euiw.exe"

#include "version_info.rc"

euiw ICON euphoria.ico
1 24 "eu.manifest"
