EU_INTERPRETER_OBJECTS = \
./intobj/backend.o \
./intobj/cominit.o \
./intobj/compress.o \
./intobj/convert.o \
./intobj/c_out.o \
./intobj/dll.o \
./intobj/emit_0.o \
./intobj/emit_1.o \
./intobj/emit.o \
./intobj/error.o \
./intobj/filesys.o \
./intobj/get.o \
./intobj/init-.o \
./intobj/int.o \
./intobj/intinit.o \
./intobj/main-0.o \
./intobj/main-.o \
./intobj/main.o \
./intobj/memory.o \
./intobj/mode.o \
./intobj/parser_0.o \
./intobj/parser_1.o \
./intobj/parser_2.o \
./intobj/parser_3.o \
./intobj/parser_4.o \
./intobj/parser.o \
./intobj/pathopen.o \
./intobj/scanne_0.o \
./intobj/scanne_1.o \
./intobj/scanner.o \
./intobj/scientific.o \
./intobj/search.o \
./intobj/sequence.o \
./intobj/sort.o \
./intobj/symtab_0.o \
./intobj/symtab.o \
./intobj/text.o \
./intobj/tranplat.o \
./intobj/types.o \
./intobj/wildcard.o \
	