EU_TRANSLATOR_OBJECTS = \
./transobj/0rror.o \
./transobj/c_dec0.o \
./transobj/c_dec1.o \
./transobj/c_decl.o \
./transobj/cominit.o \
./transobj/compil_0.o \
./transobj/compil_1.o \
./transobj/compil_2.o \
./transobj/compil_3.o \
./transobj/compil_4.o \
./transobj/compil_5.o \
./transobj/compil_6.o \
./transobj/compil_7.o \
./transobj/compil_8.o \
./transobj/compil_9.o \
./transobj/compil_A.o \
./transobj/compile.o \
./transobj/compress.o \
./transobj/convert.o \
./transobj/c_out.o \
./transobj/dll.o \
./transobj/ec.o \
./transobj/emit_0.o \
./transobj/emit_1.o \
./transobj/emit.o \
./transobj/error.o \
./transobj/filesys.o \
./transobj/get.o \
./transobj/global.o \
./transobj/init-.o \
./transobj/io.o \
./transobj/main-0.o \
./transobj/main-.o \
./transobj/main.o \
./transobj/memory.o \
./transobj/mode.o \
./transobj/parser_0.o \
./transobj/parser_1.o \
./transobj/parser_2.o \
./transobj/parser_3.o \
./transobj/parser_4.o \
./transobj/parser.o \
./transobj/pathopen.o \
./transobj/scanne_0.o \
./transobj/scanne_1.o \
./transobj/scanner.o \
./transobj/scientific.o \
./transobj/search.o \
./transobj/sequence.o \
./transobj/sort.o \
./transobj/symtab_0.o \
./transobj/symtab_1.o \
./transobj/symtab.o \
./transobj/text.o \
./transobj/traninit.o \
./transobj/tranplat.o \
./transobj/types.o \
./transobj/wildcard.o \
	